section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 20px 50px 20px;
    width: 500px;
}

.Cabecalho {
    display: flex;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}

.Cabecalho p {
    margin: 9px 16px 0;
    font-size: 17px;
    font-family: monospace;
}

.Imagem {
    width: 100%;
    height: 500px;
    max-height: 500px;
    object-fit: cover;
}

.Perfil {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50px;
}

.Curtidas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.Curtidas button {
    border: 1px solid #000;
    background: transparent;
    padding: 5px 5px 5px 5px;
    border-radius: 29px;
    width: 80px;
    cursor: pointer;
    outline: transparent;
}