section {
    display: flex;
    flex-direction: row;
    margin: 50px 20px 50px 20px;
    width: 700px;
}

.Conteudo {
    margin-left: 20px;
}

.Cabecalho {
    display: flex;
    width: 100%;
}

.Cabecalho p {
    margin: 9px 16px 0;
    font-size: 17px;
    font-family: monospace;
}

.Imagem {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.Perfil {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50px;
}
