section {
    display: flex;
    flex-direction: row;
    margin: 50px 20px 50px 20px;
    width: 700px;
}

.Imagem {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.Conteudo {
    margin-left: 20px;
}

.Conteudo h1 {
    text-transform: uppercase;
    font-family: monospace;
    font-size: 26px;
    margin-bottom: 0;
}

.Conteudo a {
    text-decoration: none;
}

.Valor {
    font-family: monospace;
    font-size: 20px;
    color: #02980e;
    margin-bottom: 20px;
}

.Autor {
    margin: 9px 16px 0;
    font-size: 17px;
    font-family: monospace;
}