header {
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    height: 70px;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

header div {
    width: 900px;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0 20px;
}

header div img {
    width: 75px;
}

.User {
    width: 20px;
}