.menu {
    background-color: #2a5eec;
    height: 70px;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacao-menu {
    width: 100%;
    max-width: 700px;
    margin: 0 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-logo {
    width: 75px;
}

.link-produto {
    font-size: 15px;
    color: #ffffff;
    padding: 10px 0 10px 0;
}
