.produto {
    display: flex;
    flex-direction: row;
    margin: 50px 20px;
    width: 700px;
}

.titulo-produto {
    font-size: 26px;
    padding-bottom: 15px;
}

.imagem-produto {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.conteudo {
    margin-left: 40px;
}

.valor-maior {
    font-size: 20px;
    color: #02980e;
    margin-bottom: 20px;
}

.valor-menor {
    font-size: 20px;
    color: #af0e0e;
    margin-bottom: 20px;
}

.valor-neutro {
    font-size: 20px;
    color: #3d3d3d;
}

.valor-neutro:nth-last-child(2) {
    margin-bottom: 20px;
}

.botao-novo-lance {
    color: #01639c;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid;
    padding: 4px 10px;
    border-radius: 5px;
}
